.form-container {
    width: 340px;
    padding: 50px 30px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 460px;
}

.form-submit-btn {
    margin-top: 50px;
}

.form-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
}


