.chat-page {
    height: 100vh;
    display: flex;
}

.chat-aside {
    width: 310px;
    background: #FBFBFB;
    border-right: 1px solid #EAEAEA;
    padding: 20px 15px;
}

.chat-aside__header {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.back-btn {
    display: flex;
    justify-content: flex-end;
    color: #999999;
    margin-bottom: 25px;
    font-size: 12px;

}


.chat-content {
    width: 80%;
}


.chat-content__messages {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #999999;
}