extends ../../layout/main/header.pug

block content
    .profile-page
      .profile-aside
        button(type="button").profile-aside__back 
          
      .profile-content
        .profile-content__container
          include ../../components/profile-avatar/profile-avatar
          +profile-avatar('')
          include ../../components/inputs/profile-input/profile-input
          .profile-content__profile-data
            form(action="").profile-content__form
              +profile-input('Старый пароль', 'text', 'password', '•••••••••')
              +profile-input('Новый пароль', 'text', 'password', '•••••••••')
              +profile-input('Повторите новый пароль', 'text', 'password', '•••••••••')
              include ../../components/buttons/btn-primary
              +btn-primary('submit', 'profile-submit', 'Сохранить')